*{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	outline: none;
	-webkit-user-select：none;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color:rgba(255,255,255,0);
	font-family: "微软雅黑";
}
html,body{
	font-size: 100px;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	overflow: hidden;
}

a{
	text-decoration: none;
}
img{
    border: none;
    vertical-align: middle;
}
.wrap{
	overflow: hidden;
	min-width: 3.2rem;
	/*max-width: 7.5rem;*/
	margin-left: auto;
	margin-right: auto;
}
/*竖屏提示*/
#shutips{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:url(../img/load_bg.png) no-repeat center; 
	background-size: cover;
	z-index: 1000;
}
#shutips img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto auto;
	width: 5.2rem;
}
/*loading*/
.wrap .load-box{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:url(../img/load_bg.png) no-repeat center; 
	background-size: cover;
	z-index: 100;
}
.wrap .load-box .load-logo{
	display: block;
	position: absolute;
	top: 1.3rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 1.86rem;
}
.wrap .load-box .progress-box{
	display: block;
	position: absolute;
	top: 4.22rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 6.2rem;
}
.wrap .load-box .progress{
	width: 5.67rem;
    height: 0.93rem;
    position: absolute;
    top: 0.04rem;
    left: 0.17rem;
    text-align: center;
    line-height: 0.93rem;
    font-size: 0.26rem;
    z-index: 10;
}
.wrap .load-box .progress .pao{
   display: block;
    height: 0.93rem;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #4b9476;
    z-index: 4;
}
.wrap .load-box .progress img{
    display: block;
    position: absolute;
    width: 2.15rem;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    z-index: 4;
}
.wrap .load-box .process_text{
   display: block;
    font-weight: bold;
    width: 100%;
    top: 0;
    left: 0;
    color: #c0c0c0;
    font-size: 0.26rem;
    text-align: center;
    z-index: 4;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.5);
}
.wrap .load-box .load-tip{
	display: block;
	width: 100%;
}
.wrap .load-box .load-login{
	display: none;
	position: absolute;
	top: 4.17rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 3.7rem;
}
/*主页面*/
.wrap .item-box{
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.wrap .item-box>div{
	position: relative;
	overflow: auto;
	width: 100%;
	height: 100%;
}
.item-zhu{
	display: block;
	height: 100%;
}
/*欢迎语*/
.welimg{
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 4.2rem;
	margin: auto auto;
}
/*返回上一页*/
.back{
	display: block;
	width:0.56rem ;
	position: fixed;
	top: 0.24rem;
	left: 0.24rem;
}
/*点赞*/
.likebox{
	position: fixed;
	bottom: 0.3rem;
	right: 0.3rem;
	height: 0.42rem;
	line-height: 0.42rem;
	font-size: 0.3rem;
	color: #FFFFFF;
	font-weight: bold;
	padding: 0 0.2rem 0 0.44rem;
	background-color: rgba(0,0,0,0.3);
	border-radius: 0.06rem;
	box-shadow: 0.06rem 0.06rem 0.12rem rgba(0,0,0,0.4);
}
.likebox .likebtn{
	position: absolute;
	bottom: -0.1rem;
	left: -0.26rem;
	width: 0.57rem;
	height: 0.53rem;
	border: none;
	margin: 0;
	background: none;
	background-image: url(../img/love.png);
	background-size: 100%;
}
.likebox .mun{
	display: inline-block;
	height: 100%;
}
.item-box .item-jianjie{
    position: absolute;
    top: 3.07rem;
    left: 3.9rem;
    width: 1.6rem;
    height: 0.6rem;
}
.item-box .item-yimai{
	position: absolute;
    top: 3.1rem;
    left: 1.84rem;
    width: 2.4rem;
    height: 3.2rem;
}
.item-box .item-dashiji{
    position: absolute;
    top: 2.5rem;
    left: 3.9rem;
    width: 1.34rem;
    height: 0.6rem;
}        
 .item-box .item-rongyu{
    position: absolute;
    top: 2.7rem;
    left: 10.8rem;
    width: 1.3rem;
    height: 0.7rem;
} 
 .item-box .item-video{
    position: absolute;
    top: 2.7rem;
    left:6.5rem;
    width: 1.6rem;
    height: 1rem;
}   
 .item-box .item-member{
    position: absolute;
    top: 2.1rem;
    left: 9.9rem;
    width: 2rem;
    height: 0.6rem;
}  
/*简介弹窗*/

.wrap .jianjiebox{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.65);
	z-index: 100;
}
.wrap .jianjiebox .memberbox{
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto auto;
	width: 10.96rem;
	height: 7.42rem;
	background: url(../img/memberbg.png) no-repeat;
	background-size: cover;
	z-index: 100;
}
/*标题*/
.wrap .jianjiebox .memberbox .title{
    position: absolute;
    top: 0.815rem;
    left: 2.6rem;
    font-size: 0.28rem;
    color: #FFFFFF;
    font-weight: bold;
}
.wrap .jianjiebox .memberbox .close{
    position: absolute;
    top: 0.3rem;
    right: 0.2rem;
    width: 1.63rem;
    height: 1.2rem;
}
.wrap .jianjiebox .memberbox .contentbox{
    position: absolute;
    top: 2.2rem;
    left: 2.91rem;
    display: block;
    width: 5.22rem;
    height: 3.44rem;
    overflow: auto;
}
.wrap .jianjiebox .memberbox .contentbox a{
display: block;
    width: 5.22rem;
    height: 1.14rem;
    font-size: 0.2rem;
    color: #295651;
    font-weight: bold;
    text-align: center;
    line-height: 1.1rem;
    margin-top: -0.1rem;
    background: url(../img/vedioli.png) no-repeat center;
    background-size: 100% 100%;
}
/*大事记弹窗*/

.wrap .dashijibox{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.65);
	z-index: 100;
}
.wrap .dashijibox .memberbox{
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto auto;
	width: 10.96rem;
	height: 7.42rem;
	background: url(../img/historybg.png) no-repeat;
	background-size: cover;
	z-index: 100;
}
/*标题*/
.wrap .dashijibox .memberbox .title{
    position: absolute;
    top: 0.815rem;
    left: 2.6rem;
    font-size: 0.28rem;
    color: #FFFFFF;
    font-weight: bold;
}
.wrap .dashijibox .memberbox .close{
    position: absolute;
    top: 0.3rem;
    right: 0.2rem;
    width: 1.63rem;
    height: 1.2rem;
}
.wrap .dashijibox .memberbox .contentbox{
    position: absolute;
    top: 2.2rem;
    left: 2.91rem;
    display: block;
    width: 5.22rem;
    height: 3.44rem;
    overflow: auto;
}
.wrap .dashijibox .memberbox .contentbox a{
display: block;
    width: 5.22rem;
    height: 1.14rem;
    font-size: 0.2rem;
    color: #295651;
    font-weight: bold;
    text-align: center;
    line-height: 1.1rem;
    margin-top: -0.1rem;
    background: url(../img/vedioli.png) no-repeat center;
    background-size: 100% 100%;
}
/*荣誉弹窗*/

.wrap .rongyubox{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.65);
	z-index: 100;
}
.wrap .rongyubox .memberbox{
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto auto;
	width: 10.96rem;
	height: 7.42rem;
	background: url(../img/rongyubg.png) no-repeat;
	background-size: cover;
	z-index: 100;
}
/*标题*/
.wrap .rongyubox .memberbox .title{
    position: absolute;
    top: 0.815rem;
    left: 2.6rem;
    font-size: 0.28rem;
    color: #FFFFFF;
    font-weight: bold;
}
.wrap .rongyubox .memberbox .close{
    position: absolute;
    top: 0.3rem;
    right: 0.2rem;
    width: 1.63rem;
    height: 1.2rem;
}
.wrap .rongyubox .memberbox .contentbox{
    position: absolute;
    top: 2.2rem;
    left: 2.91rem;
    display: block;
    width: 5.22rem;
    height: 3.44rem;
    overflow: auto;
}
.wrap .rongyubox .memberbox .contentbox a{
display: block;
    width: 5.22rem;
    height: 1.14rem;
    font-size: 0.2rem;
    color: #295651;
    font-weight: bold;
    text-align: center;
    line-height: 1.1rem;
    margin-top: -0.1rem;
    background: url(../img/vedioli.png) no-repeat center;
    background-size: 100% 100%;
}
/*视频弹窗*/
.wrap .videoalert{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.65);
	z-index: 100;
}
.wrap .videoalert .memberbox{
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto auto;
	width: 10.96rem;
	height: 7.42rem;
	background: url(../img/vediobg.png) no-repeat;
	background-size: cover;
	z-index: 100;
}
/*标题*/
.wrap .videoalert .memberbox .title{
    position: absolute;
    top: 0.815rem;
    left: 2.6rem;
    font-size: 0.28rem;
    color: #FFFFFF;
    font-weight: bold;
}
.wrap .videoalert .memberbox .close{
    position: absolute;
    top: 0.3rem;
    right: 0.2rem;
    width: 1.63rem;
    height: 1.2rem;
}
.wrap .videoalert .memberbox .contentbox{
    position: absolute;
    top: 2.2rem;
    left: 2.91rem;
    display: block;
    width: 5.22rem;
    height: 3.44rem;
    overflow: auto;
}
.wrap .videoalert .memberbox .contentbox a{
display: block;
    width: 5.22rem;
    height: 1.14rem;
    font-size: 0.2rem;
    color: #295651;
    font-weight: bold;
    text-align: center;
    line-height: 1.1rem;
    margin-top: -0.1rem;
    background: url(../img/vedioli.png) no-repeat center;
    background-size: 100% 100%;
}

/*成员弹窗*/

.wrap .memberalert{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.65);
	z-index: 100;
}
.wrap .memberalert .memberbox{
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto auto;
	width: 10.96rem;
	height: 7.42rem;
	background: url(../img/memberbg.png) no-repeat;
	background-size: cover;
	z-index: 100;
}
/*标题*/
.wrap .memberalert .memberbox .title{
    position: absolute;
    top: 0.815rem;
    left: 2.6rem;
    font-size: 0.28rem;
    color: #FFFFFF;
    font-weight: bold;
}
.wrap .memberalert .memberbox .close{
    position: absolute;
    top: 0.3rem;
    right: 0.2rem;
    width: 1.63rem;
    height: 1.2rem;
}
.wrap .memberalert .memberbox .contentbox{
    position: absolute;
    top: 2.2rem;
    left: 2.91rem;
    display: block;
    width: 5.22rem;
    height: 3.44rem;
    overflow: auto;
}
.wrap .memberalert .memberbox .contentbox a{
display: block;
    width: 5.22rem;
    height: 1.14rem;
    font-size: 0.2rem;
    color: #295651;
    font-weight: bold;
    text-align: center;
    line-height: 1.1rem;
    margin-top: -0.1rem;
    background: url(../img/vedioli.png) no-repeat center;
    background-size: 100% 100%;
}